.about-main {
    width: 100%;
}
.safe-ride {
    width: 85%;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ride-left,
.ride-right {
    width: 49%;
}
.ride-left > img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.ride-right > h1 {
    font-size: 32px;
    font-weight: 600;
    color: #000d6b;
}
.ride-right > p {
    font-size: 14px;
    color: #adadb0;
    line-height: 1.8rem;
    margin-top: 15px;
}
.ride-help {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 20px;
}
.ride-help > i {
    font-size: 24px;
    color: #000d6b;
}
.help > h3 {
    font-size: 20px;
    font-weight: 600;
    color: #f9a826;
}
.help > p {
    font-size: 25px;
    color: #000d6b;
    margin-top: 8px;
}

/* -------------Responsive------------- */

@media screen and (max-width: 990px) {
    .ride-right > h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .safe-ride {
        width: 70%;
    }
    .ride-left {
        display: none;
    }
    .ride-right {
        width: 100%;
    }
    .help > h3 {
        font-size: 16px;
    }
    .help > p {
        font-size: 20px;
    }
    .ride-help > i {
        font-size: 19px;
    }
}

@media screen and (max-width: 640px) {
    .safe-ride {
        width: 99%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 575px) {
    .safe-ride {
        width: 100%;
    }
}
